.hero {
  text-align: center;
}

@media (min-width: $grid-breakpoints-md) {
  .hero {
    text-align: left;
  }
}

$vmarquee_items: 7;

.vmarquee {
  line-height: 1.5em;
  height: 1.5em;
  display: inline-flex;

  .vmarquee--outer {
    display: inline-block;
    text-align: left;
    height: 1.5em;
    overflow: hidden;
    padding-left: .25em;

    .vmarquee--inner {
      display: block;
      animation: rotate_keyframes calc(1.5s * ($vmarquee_items + 1)) ease-in-out infinite;

      > * {
        display: block;
        white-space: nowrap;
      }
    }
  }

  .vmarquee--prepend:empty ~ * .vmarquee--outer {
    text-align: right;
  }
}


@keyframes rotate_keyframes {
  @for $i from 1 through $vmarquee_items {
    #{percentage(calc(($i - 1) / $vmarquee_items)), percentage(calc(($i - 0.2) / $vmarquee_items))} {
      transform: translateY(calc(-1.5em * ($i - 1)));
    }
  }
  100% {
    transform: translateY(0);
  }
}
