.textalign-center {
  text-align: center;
}

.textalign-end {
  text-align: end;
}

.textalign-justify {
  text-align: justify;
}

.ai-baseline {
  align-items: baseline;
}

.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-center {
  justify-content: center;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

// form {
//   align-self: center;

// }
